body {
    padding: 0;
    margin: 0;
    
}

.dismiss {
    background-color: rgb(12, 46, 126); /* orange */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 1px;
    width: 100%;
    
  }

  .dismiss:hover {
    background-color: rgb(0, 187, 255);
    color: #FFFFFF;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  #confirmation {
    display: inline-block;
  }

  #email {
    font-weight: bold;
    display: inline-block;
  }

  p {
    margin: 0;
    padding: 0;
  }

  .text {
    font-family: sans-serif;
  }


@media only screen and (max-width: 767px){
    .success {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        padding-top: 35%;
        overflow: auto;
        }

    .close-button {
        padding-top: 60%;
        padding-left: 10%;
        padding-right: 10%;
        
    }

    .text {
        padding-left: 10%;
        padding-right: 10%;
    }

    .big-checkmark {
        padding-left: 10%;
        padding-right: 10%;
    }


    
}

@media only screen and (min-width: 768px) {
    body {
        background-color: rgb(11, 169, 172);
    }
    
    .success {
      left: 50%;
      right: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      position: fixed;
      z-index: 1;
      background: #FFFFFF;
      margin: auto;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
      display: flex;
      flex-direction: column;
      width: 50%;
      padding: 25px;
      border-radius: 20px;
    }

    .dismiss {
        background-color: rgb(12, 46, 126); /* orange */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        transition-duration: 0.4s;
        cursor: pointer;
        border-radius: 5px;
        width: 100%;
        
      }
    
      .dismiss:hover {
        background-color: rgb(0, 187, 255);
        color: #FFFFFF;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
      }
    
    .text {
        padding-bottom: 15%;
    }
}
